# Flutter and Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
coverage/
.env
.env.*

# Android Studio and IntelliJ
*.iml
.idea/

# Android build products
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/.cxx/
android/captures/
android/key.properties
android/**/*.jks
android/**/*.keystore
